@model  Demo.Web.Areas.Customer.Data.ComsumeModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid section">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">消费列表</div>
            <div class="muted pull-right"><a asp-action="Create">新增</a></div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <form method="post" asp-action="Index" class="form-inline">
                    <label for="Classify" class="control-label">分类：</label>
                    <select class="form-control" name="Classify" asp-items="Model.SelectListItems" data-live-search="true">
                    </select>
                    <input asp-for="Title" class="form-control" placeholder="消费名称查询关键字..." />
                    <label for="StartDate" class="control-label">消费时间：</label>
                    <input asp-for="StartDate" class="form-control" />-
                    <input asp-for="EndDate" class="form-control" />
                    <button class="btn btn-primary btn-outline-success my-2 my-sm-0" type="submit">查询</button>
                </form>
            </div>
            <div class="span12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor( model=>model.Consumes.FirstOrDefault().ConsumeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Consumes.FirstOrDefault().Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Consumes.FirstOrDefault().Place)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Consumes.FirstOrDefault().Remark)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Consumes.FirstOrDefault().Classify)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Consumes.FirstOrDefault().LogTime)
                            </th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Consumes)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ConsumeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Place)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Classify)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LogTime)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /block -->
</div>

